<div class="invoices-holder">
    <div class="invoice-list">
        <div class="title-inset">
            <span>Invoices</span>
            <div class="action-btns">
                <button class="primary">+ Add</button>
            </div>
        </div>
        <div class="list" id="invoiceListHolder">
        </div>
    </div>
    <div class="invoice-detail">
        <div class="title-inset">
            <span id="invoiceNumberHolder"></span>
            <div class="action-btns">
                <button class="primary">Download</button>
                <button class="primary">Convert to Invoice</button>
                <button class="danger">Cancel</button>
            </div>
        </div>
        <div class="invoice-wrapper">
            <div class="invoice">
                <div class="invoice-row">
                    <div class="row-cell">
                        <img src="./partial/logo.png" alt="logo">
                        <div class="boldtext" id="parentOrgName">
                        </div>
                        <div class="lighttext">
                            <div id="parentOrgAddrL1"></div>
                            <div id="parentOrgAddrL2"></div>
                            <div id="parentOrgAddrL3"></div>
                            <div><span id="parentOrgAddrCity"></span><span id="parentOrgAddrState"></span><span id="parentOrgAddrZip"></span></div>
                            <div id="parentOrgCountry"></div>
                            <div id="parentOrgAddrPhone"></div>
                            <div id="parentOrgAddrPhoneAlternate"></div>
                        </div>
                    </div>
                    <div class="row-cell right-text">
                        <div class="lighttext" id="invoiceDate"></div>
                        <div class="biggesttext" id="invoiceType"></div>
                        <div class="lighttext" id="invoiceNumber"></div>
                        <div class="boldtext" id="invoiceAmount"></div>
                    </div>
                </div>
                <div class="invoice-row">
                    <div class="row-cell">
                        <div class="lighttext">
                            <div>To,</div>
                            <div id="toOrgExecutor"></div>
                        </div>
                        <div class="boldtext" id="toOrgName">
                        </div>
                        <div class="lighttext">
                            <div id="toOrgAddrL1"></div>
                            <div id="toOrgAddrL2"></div>
                            <div id="toOrgAddrL3"></div>
                            <div><span id="toOrgAddrCity"></span><span id="toOrgAddrState"></span><span id="toOrgAddrZip"></span></div>
                            <div id="toOrgCountry"></div>
                            <div id="toOrgAddrPhone"></div>
                            <div id="toOrgAddrPhoneAlternate"></div>
                        </div>
                    </div>
                    <div class="row-cell right-text">
                        <div class="boldtext">Due Date: <span class="lighttext" id="invoiceDueDate"></span></div>
                    </div>
                </div>
                <div class="row-cell">
                    <table id="itemTable">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Description</th>
                                <th class="right-text">Quantity</th>
                                <th class="right-text">Unit Price</th>
                                <th class="right-text">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row-cell" id="termsAndCondition">
                    <div class="boldtext">Terms of sales and other comments</div>
                    <div class="lighttext">
                        <ol>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>