<div class="invoices-holder">
    <div class="invoice-list">
        <div class="title-inset">
            <span>Invoices</span>
            <div class="action-btns">
                <button class="primary">+ Add</button>
            </div>
        </div>
        <div class="list">
            <div class="invoice-card active">
                <div class="invoice-to-label">Patriot Global LTD</div>
                <div class="invoice-amount">$35,000</div>
                <div class="invoice-number">PROINV-5231</div>
                <div class="invoice-last-action">Not Started</div>
            </div>
            <div class="invoice-card">
                <div class="invoice-to-label">Merlyn Simpson</div>
                <div class="invoice-amount">$15,000</div>
                <div class="invoice-number">INV-5291</div>
                <div class="invoice-last-action">Paid</div>
            </div>
            <div class="invoice-card">
                <div class="invoice-to-label">Thor Odinson</div>
                <div class="invoice-amount">$5,000</div>
                <div class="invoice-number">INV-5211</div>
                <div class="invoice-last-action">Partially Paid</div>
            </div>
            <div class="invoice-card">
                <div class="invoice-to-label">Sheldon Cooper</div>
                <div class="invoice-amount">Rs5,00,000</div>
                <div class="invoice-number">INV-5261</div>
                <div class="invoice-last-action">Started</div>
            </div>
        </div>
    </div>
    <div class="invoice-detail">
        <div class="title-inset">
            <span>PROINV-5231</span>
            <div class="action-btns">
                <button class="primary">Download</button>
                <button class="primary">Convert to Invoice</button>
                <button class="danger">Cancel</button>
            </div>
        </div>
        <div class="invoice-wrapper">
            <div class="invoice">
                <div class="invoice-row">
                    <div class="row-cell">
                        <img src="./partial/logo.png" alt="logo">
                        <div class="boldtext">
                            AD Printmech
                        </div>
                        <div class="lighttext">
                            <div>Flat No - 2c, 2nd Floor,</div>
                            <div>Plot No - 7/244, Green Park,</div>
                            <div>Belgharia, North 24 Pargana</div>
                            <div>Kolkatta - 700056</div>
                            <div>Ph - +919875320019</div>
                        </div>
                    </div>
                    <div class="row-cell right-text">
                        <div class="lighttext">27 Jul, 2020</div>
                        <div class="biggesttext">Proforma Invoice</div>
                        <div class="lighttext">#PROINV-5231</div>
                        <div class="boldtext">$35,000</div>
                    </div>
                </div>
                <div class="invoice-row">
                    <div class="row-cell">
                        <div class="lighttext">
                            <div>To,</div>
                            <div>Mr P Debnath</div>
                        </div>
                        <div class="boldtext">
                            Patriot Global LTD
                        </div>
                        <div class="lighttext">
                            <div>73/1, Elephant Road,</div>
                            <div>4-th Floor</div>
                            <div>Dhaka - 1205</div>
                            <div>Bangladesh</div>
                        </div>
                    </div>
                    <div class="row-cell right-text">
                        <div class="lighttext">Due Date: 27 Sep, 2020</div>
                    </div>
                </div>
                <div class="row-cell">
                    <table>
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Description</th>
                                <th class="right-text">Quantity</th>
                                <th class="right-text">Unit Price</th>
                                <th class="right-text">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Thyristor Fuse 450A</td>
                                <td class="right-text">6</td>
                                <td class="right-text">192</td>
                                <td class="right-text">1152</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Diode Board</td>
                                <td class="right-text">2</td>
                                <td class="right-text">16</td>
                                <td class="right-text">32</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Baumullier Power Converter</td>
                                <td class="right-text">2</td>
                                <td class="right-text">9673</td>
                                <td class="right-text">19346</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>DC Shunt Motor 130kw</td>
                                <td class="right-text">1</td>
                                <td class="right-text">9340</td>
                                <td class="right-text">9340</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Techo Generator</td>
                                <td class="right-text">2</td>
                                <td class="right-text">1965</td>
                                <td class="right-text">3930</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="right-text">Total</td>
                                <td class="right-text">$33,800</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="right-text">Air Frieght</td>
                                <td class="right-text">$1,200</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="right-text">Total</td>
                                <td class="right-text">$35,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row-cell">
                    <div class="boldtext">Terms of sales and other comments</div>
                    <div class="lighttext">
                        <ol>
                            <li>You have to add margin, clearing, handling, duty charges in Dhaka etc extra</li>
                            <li>Port of shipment: By air freight from Mumbai/ Kolkata</li>
                            <li>Payment: 40% advance along with order and balance before dispatch or through L/C</li>
                            <li>This invoice will be valid for next 60days</li>
                            <li>Insuarance is to be covered by you</li>
                            <li>Freight will be paid by us</li>
                            <li>Part shipment is allowed</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>