@import 'colors.scss';

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: $light-gray;
    transition: all 400ms;
}
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

.title {
    padding: 10px;
    border-bottom: 1px solid $light-gray;
    font-size: 2rem;
    color: $mute-gray;
    font-weight: 300;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}